@import "tailwindcss";

:root {
  --background: #f4f6f8;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mainblue: #2f80ed;
  --color-darkmainblue: #1e63b7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a1b;
    --foreground: #e0e0e0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
